@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto:300,400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1f1e1e;
}

.wrapper {
  height: 100vh;
  position: relative;
  font-family: PT Sans;
  background-color: #1f1e1e;
}

.header {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.header .header__title {
  margin-top: 20px;
  font-family: Roboto, sans-serif;
  color: #d2d8e2;
}

.header .counter-tasks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  color: #d2d8e2;
}

.list-tasks-out {
  height: calc(100% - 165px);
  min-height: 50px;
  overflow: auto;
  color: #d2d8e2;
}

.no-tasks {
  display: block;
  margin-top: 2em;
  text-align: center;
  color: #d2d8e2;
}

.item-task {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto auto;
      grid-template-columns: auto 1fr auto auto;
  padding: 10px 10px;
  font-size: 24px;
  color: #d2d8e2;
}

.item-task .close {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  opacity: 40%;
  color: #d2d8e2;
}

.item-task .close:after {
  content: "\2716";
}

.item-task .close:hover, .close:active {
  opacity: 100%;
}

.edit-task {
  display: none;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  opacity: 40%;
}

.item-task .edit-task:after {
  content: "\270E";
}

.item-task .edit-task:hover, .edit-task:active {
  opacity: 100%;
}

.item-task:nth-child(even) {
  background-color: #312e2e;
}

.item-task .done {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 50%;
}

.item-task:hover .done {
  opacity: 100%;
}

.item-task .txt {
  color: #d2d8e2;
  opacity: 1;
}

.item-task .txt:focus + .edit-task {
  display: inline-block;
}

.input-tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  text-align: center;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1px;
}

.input-tasks input {
  background: transparent;
  color: #dddddd;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  height: 50px;
  font-size: 38px;
  border: none;
  border-bottom: 1px solid #ebebeb;
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.btn a {
  padding: 14px;
  background-color: transparent;
  border-bottom: 1px solid #fce6aa;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: aliceblue;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  z-index: 2;
}

.btn a:active {
  background: -webkit-gradient(linear, left top, right top, from(#424240), color-stop(#666665), to(#424240));
  background: linear-gradient(90deg, #424240, #666665, #424240);
  background-size: 400%;
  background-position-x: 100%;
  z-index: 2;
  -webkit-animation: animate .2s linear 1;
          animation: animate .2s linear 1;
}

@-webkit-keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    width: 1000px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 400px) {
  .input-tasks input {
    font-size: 24px;
  }
}

@media screen and (max-height: 283px) {
  .header {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    gap: 0;
  }
  .header .header__title {
    margin-top: 5px;
  }
  .input-tasks {
    margin-top: 5px;
    margin-bottom: 0;
  }
  .input-tasks input {
    height: 25px;
    font-size: 18px;
  }
  .btn a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */